apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: http-upload
  name: http-uploader
spec:
  replicas: 1
  selector:
    matchLabels:
      app: http-uploader
  template:
    metadata:
      labels:
        app: http-uploader
    spec:
      containers:
        - name: uploader
          image: erichodgins/http-uploader:latest
          ports:
            - containerPort: 8080

          envFrom:
            - secretRef:
                name: upload-token

          securityContext:
            allowPrivilegeEscalation: false

          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: drop-pvc
