apiVersion: v1
kind: Service
metadata:
  namespace: http-upload
  name: http-uploader
spec:
  type: NodePort
  selector:
    app: http-uploader
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
